/* Base Elements */

.object_tree_title{
    color: var(--text-color);
    font-family: var(--font);
    text-align: center;
    text-wrap: nowrap;
    user-select: none;

    width: -webkit-fill-available;
    margin: 5px 10px;
    border-bottom: 1px solid var(--accent-color);
    padding: 0px 6px 6px 6px;
    font-weight: bolder;
}


.object_tree { 
    width:100%; 
    height: 100%;
    overflow-y: auto;
}

.object_tree .text {
    text-align: left;
}

/* Set Elements */

.object_tree .orderable_set_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--overlay-menu-separator);
    margin: 4px 2px;
    width: -webkit-fill-available;
}

.object_tree .orderable_set_header .branch_title {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}

.object_tree .orderable_set_header .drop_down_selector {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 0 2px;
    border-radius: 5px;
}

.object_tree .orderable_set_header .drop_down_selector:hover {
    background-color: var(--hover-color);
}



/* Individual Elements */


.object_tree .reorderable_set {
    padding: 0px 0px 0px 12px;
}

.object_tree .orderable {
    text-align: left;
    padding: 0px 8px;
}

.object_tree .orderable[target] {
    border-left: solid 1px var(--second-accent-color);
}

.object_tree .drop_down_selector {

}