:root {
    --font: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Neutrals & Backgrounds */
    --background-fill: #2c203b;
    --layout-main-fill: #1a1323;
    --background-fade-light: #2d2342;
    --background-fade-dark: #150f1e;
    --hover-color: #3b2a4b;
    --hover-color-light: #4b3a5d;

    /* Text and Accent Colors */
    --text-color: #cab9d6;
    --text-light-color: #f0e8f9;
    --text-dark-color: #9e8aad;
    --text-near-black-color: #1a1323;
    --accent-color: #9b6ded;
    --second-accent-color: #bb86fc;
    --separator-color: #30263f;

    /* Chart Borders & Separators */
    --chart-border: var(--background-fill);
    --chart-border-hover: #6b5c77;
    --chart-background: var(--background-fill);
    --chart-separator-fill: var(--background-fill);
    --chart-separator-hover: #6b5c77;

    /* Tab Colors */
    --tab-text-color: var(--text-color);
    --tab-text-inactive-color: var(--text-dark-color);
    --tab-close-color: var(--text-color);
    --tab-close-hover: var(--text-light-color);
    --tab-close-active: var(--text-color);
    --tab-divider-color: var(--layout-main-fill);
    --tab-hover-color: var(--hover-color-light);
    --tab-active-color: var(--layout-main-fill);
    --tab-background-color: var(--background-fill);

    /* Overlay Colors */
    --overlay-fill: #1f152d;
    --overlay-shadow: #0007;
    --overlay-menu-separator: var(--accent-color);

    /* Icon Colors */
    --icon-color: #dbcffa;
    --icon-hover-color: #3b2a4b;
    --icon-gray-color: #564469;
    --icon-dark-color: var(--layout-main-fill);
    --icon-active-color: var(--accent-color);
    --icon-background-color: #0000;

    /* Topbar & Toolbar */
    --topbar-icon-hover-color: var(--icon-hover-color);
    --topbar-icon-active-color: var(--icon-active-color);
    --topbar-icon-background-color: var(--icon-background-color);
    --topbar-separator-color: var(--separator-color);
    --toolbar-icon-hover-color: var(--icon-hover-color);
    --toolbar-icon-active-color: var(--icon-active-color);
    --toolbar-icon-background-color: var(--icon-background-color);
    --toolbar-separator-color: var(--separator-color);

    /* Legend & Tooltip */
    --legend-bg-color: #0003;
    --legend-bg-color-hover: #0005;
    --legend-border-color: #0000;
    --legend-border-color-hover: #7774;
    --tooltip-text: var(--text-color);
    --tooltip-color: var(--accent-color);
    --tooltip-background: var(--hover-color-light);

    /* Chart Color Scheme */
    --chart-text-color: #cab9d6;
    --chart-bg-color-top: #1c142b;
    --chart-bg-color-bottom: #16101f;
    --chart-grid: #342a44;
    --chart-grid-vert: var(--chart-grid);
    --chart-grid-horiz: var(--chart-grid);
    --chart-axis-border: #140d1e;

    /* Lightweight Chart Default Modes */
    --chart-xhair-mode: 0;
    --chart-right-offset: 20;
    --chart-scale-mode: 1;
    --chart-tv-logo: true;
    --chart-scale-mode-left: var(--chart-scale-mode);
    --chart-scale-mode-right: var(--chart-scale-mode);

    /* Indicator Styling */
    --indicator-border-color: #cab9d6;
    --indicator-group-text-color: var(--accent-color);
    --indicator-background-fade: var(--background-fade-dark);
}